body {
    font-family: monospace;
    background-color: #1f1f1f;
    color: #E0E0E0;
}
#user-input {
    height: 30px;
    width: 250px;
    background-color: #333333;
    color: #E0E0E0;
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}
#copy-button, #bigify-button {
    height: 30px;
    background-color: #eeeeee;
    color: #202020;
    border: none;
    border-radius: 10px;
    padding: 0px 10px;
}
#copied-message {
    display: inline;
    margin-left: 1em;
    color: green;
    opacity: 0;
    transition: opacity 1s;
}
#copied-message.visible {
    opacity: 1;
    transition: none;
}
#result-textarea {
    resize: none;
    background-color: #333333;
    color: #E0E0E0;
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}